body {
    background-color: #e7e7e7;
  }
  
  #main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
  }
  
  #all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
  }

  .post {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
  }
  
  .post a {
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    text-align: center;
  }

  .post img{
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #ffe1bf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
  }

  ul li {
    box-sizing: border-box;
    width: 60rem;
  }